<div *ngIf="hero">
   <h2 id = "titulo">{{hero.name}} Details</h2>
    <div class ="details-cart">
      <span>id: </span>{{hero.id}} <br />
      <div>
         <label> name:
            <input [(ngModel)]="hero.name" placeholder="nome"/>
         </label>
      </div>
      <button (click)="goBack()">go back</button>
      <button (click)="save()">save</button>
 <!--        
[(ngModel)] é a sintaxe de ligação de dados bidirecional do Angular.
Aqui, ele vincula a hero.name propriedade à caixa de texto HTML (placeholder), para que os dados 
possam fluir nas duas direções: da hero.name propriedade 
para a caixa de texto e da caixa de texto de volta para a hero.name. 
       </label>-->
    </div>
</div>
